<h1> New Candidate </h1>
<%= simple_form_for(@candidate) do |c| %>
	<%= c.input :first_name %> <br>
	<%= c.input :last_name %> <br>
	<%= c.input :slogan %>
	<%= c.association :position %> <br> 
	<hr>
	<%= c.submit :save %>
<% end %>